.example {
  background-color: var(--background-secondary, #eaeaea);
}

@media (min-width: 768px) {
  .example {
    background: none;
  }
}

.example__container {
  padding: 25px 20px 49px;
}

@media (min-width: $tablet-width) {
  .example__container {
    padding: 30px 45px 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.example__title {
  margin: 0 0 40px;
}

.example__description {
  //
}

.example__stats {
  display: flex;
  justify-content: space-around;
  margin: 35px 0;
}

@media (min-width: $tablet-width) {
  .example__stats {
    gap: 43px;
  }
}

.example__days {
  //
}

.example__weight {
  //
}

.example__quantity {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--secondary-text-color, #000000);
  margin: 0 0 8px;
  text-align: center;
}

.example__content {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.example__expenses {
  font-family: $second-font;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color, #000000);
  margin: 0 0 20px;
}

@media (min-width: $tablet-width) {
  .example__expenses {
    margin: 55px 0;
    display: inline-flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
  }
}

.example__expenses-price {
  //
}

.example__slider {
  //
}

@media (min-width: $tablet-width) {
  .example__slider {
    margin: 0 auto;
    background-color: var(--background-secondary, #eaeaea);
  }
}
